<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building.name %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @classroom.floor %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>