<li id='teacher-subject-<%= @teacher_subject.id %>'>
  <%= form_with model: @teacher_subject, remote: true do |form| %>
    <% if @teacher_subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@teacher_subject.errors.count, "error") %> prohibited this teacher from being saved:</h2>

        <ul>
          <% @teacher_subject.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.number_field :level %>

      <%= form.submit 'Update' %>
      <%= link_to 'Remove', teacher_subject_path(@teacher_subject), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Cancel', teacher_subject_path(@teacher_subject), remote: true %>
    </div>
  <% end %>
</li>
