<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>

<p>
  <strong>Classes</strong>
  <ul>
    <% @teacher.teacher_subjects.each do |teacher_subject| %>
      <%= render 'teacher_subjects/show', teacher_subject: teacher_subject %>
    <% end %>
  </ul>
  <%= render 'teacher_subjects/new' %>
</p>
