<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.select :section_id, @sections.collect {|s| [ "#{s.teacher_subject.subject.name} - #{s.teacher_subject.teacher.full_name}: #{s.start_time_human} (#{s.duration})", s.id ] }, include_blank: true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
