<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @appointment.student_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @appointment.section_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
