<!DOCTYPE html>
<html>
  <head>
    <title>Student Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to Mindr Student Portal<h1>
    <p>Hello, <%= @student.first_and_last_name %></p>
    <br>
    <%= yield %>
  </body>
</html>
